<!-- Header -->
<header class="flex justify-between items-center py-6">
    <div class="flex items-center space-x-4">
        <img src="{{ url_for('static', filename='INFOCERT.svg') }}" alt="Infocert Logo" class="w-40">
        <img src="{{ url_for('static', filename='logo_etuitus_infocert.png') }}" alt="Etuitus Logo" class="w-24">
        <img src="{{ url_for('static', filename='nobid_eu.png') }}" alt="Nobid EU Logo" class="w-80">
{#        <div class="bg-blue-900 p-2 rounded">#}
{#            <img src="{{ url_for('static', filename='ewc_logo.png') }}" alt="EWC Logo" class="w-24">#}
{#        </div>#}
    </div>
</header>